/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  line-height: 1.6em;
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}

/* start CLASS TITLE LIGHT  */
.title__light {
  margin: 50px auto;
  text-align: center;

}

.title__light h5 {
  color: #ed4b80;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.title__light p {
  font-size: 17px;
  letter-spacing: 4px;
}

.title__light hr {
  height: 2px;
  width: 80px;
  background-color: black;
  opacity: 1;
  margin: auto;
}

/* end CLASS TITLE LIGHT  */

/* HEADER  */
.header__top {
  background-color: #ed4b80;
  font-size: 14px;
}

.header__top a {
  text-decoration: none;
  color: white;
}

.header__left a {
  transition: all .5s;
}

.header__left a:hover {
  color: black;
}

.header__right a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0.25rem;
  background-color: black;
  border: 1px solid black;
  text-align: center;
  transition: all .5s;
}

.header__right a:hover {
  background-color: #ed4b80;
  border-color: white;

}

.header__navBar .navbar a {
  color: black;
}

.header__navBar .navbar-brand p:first-child {
  font-size: 36px;
  font-weight: bold;
}

.header__navBar .navbar-brand p:last-child {
  font-size: 11px;
  color: #ed4b80;
  letter-spacing: 3px;
  font-weight: bold;
}

#navbarIntruction .nav-item {
  margin: 0;
}

#navbarIntruction a.nav-link {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 20px;
  transform: all .5s;
  text-align: center;
}

#navbarIntruction .nav-item::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: #ed4b80;
  display: block;
  transition: all .5s;
}

#navbarIntruction .nav-item:hover::after {
  width: 100%;
}

#navbarIntruction .nav-item:hover .nav-link {
  color: #ed4b80;
}

#navbarIntruction .nav-item.active .nav-link {
  color: #ed4b80;
}

#navbarIntruction .nav-item.active::after {
  width: 100%;
}

#navbarIntruction .dropdown .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  ;
}

#navbarIntruction .dropdown .dropdown-menu .dropdown-item {
  font-size: 16px;
  color: white;
}

#navbarIntruction .dropdown .dropdown-menu .dropdown-item:hover {
  color: #ed4b80;
  background-color: transparent;
}

#navbarIntruction .dropdown .dropdown-menu .dropdown-item:focus {
  background-color: transparent;
}

/* cyberCAROUSEL  */
.cyberCarousel #carouselCyber .carousel-caption h5 {
  font-size: 72px;
}

.cyberCarousel #carouselCyber .carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cyberCarousel #carouselCyber .carousel-caption p {
  font-size: 30px;
  letter-spacing: 4px;
  line-height: 1.8em;
  font-weight: 300;
  width: 80%;
  margin: 0 auto 25px;
}

.cyberCarousel #carouselCyber .carousel-caption .btn {
  color: white;
  padding: 12px 20px;
  border: 1px solid white;
  border-radius: 0;
  letter-spacing: 2px;
  transition: all .5s;
  font-size: 25px;
}

.cyberCarousel #carouselCyber .carousel-caption .btn:hover {
  background-color: #ed4b80;
  border-color: #ed4b80;
}

/* EDUCATION  */
.education {
  padding: 50px 0;
}

.education__content p {
  text-align: center;
  color: #999999;
  letter-spacing: 1px;
  line-height: 1.8;
  padding-bottom: 80px;
}

.education__course .col {
  padding: 30px;
}

.education__course .col i {
  font-size: 32px;
}

.education__course .col h5 {
  color: #ed4b80;
  font-size: 30px;
  font-weight: bold;
  margin: 16px 0;
}

.education__course .col h6 {
  font-size: 16px;
  font-weight: bold;
  margin: 16px 0;
}

.education__course .col p {
  font-size: 15px;
  color: #999999;
  margin: 16px 0;
}

/* OUR START  */
.ourStart {
  background-image: url(../image/banner2.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding: 60px 0;
}

.ourStart__container .title__light p {
  color: white;
}

.ourStart__number {
  color: whitesmoke;
  text-align: center;
}

.ourStart__number i {
  font-size: 40px;
}

.ourStart__number h6 {
  color: #ed4b80;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 30px 0;
}

.ourStart__number p {
  font-size: 48px;
  font-weight: 300;
}

/* OFFER  */
.offer__Item {
  margin: 50px 0;
  text-align: center;
}

.offer__Item .offer__gap {
  padding: 20px;
}

.offer__Item .offer__col {
  /* border: 1px solid black; */
  box-shadow: 0px 1px 8px 0px rgb(158 158 158 / 0.75);
  padding: 30px;
  height: 100%;
  transition: all .5s;
}

.offer__Item .offer__col:hover {
  background-color: #12ccc3;
}

.offer__Item .offer__col i {
  font-size: 40px;
  color: #ed4b80;
}

.offer__Item .offer__col h6 {
  font-size: 20px;
  margin: 30px 0;
}

/* FEEDBACK  */
.feedBack {
  background-image: url(../image/banner3.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding: 40px 0;
}

.feedBack__container .title__light p {
  color: white;
}

.feedBack__content {
  box-shadow: 0px 1px 8px 0px rgb(158 158 158 / 0.75);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 40px;
}

.feedBack__Item .feedBack__text {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 20px 0;
  border-radius: 5px;
}

.feedBack__Item .feedBack__text::after {
  content: "";
  height: 10px;
  width: 10px;
  display: block;
  border-top: 15px solid rgba(0, 0, 0, 0.6);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: relative;
  top: 15px;
  left: 30%;
  /* margin: 0 auto; */
}

.feedBack__Item .feedBack__icon {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.feedBack__Item .feedBack__icon img {
  display: inline-block;
  width: 65px;
  height: 65px;
  margin-right: 5px;
}

.feedBack__Item .feedBack__icon h4 {
  font-weight: bold;
  margin: 0;
}

.feedBack__Item .feedBack__icon p {
  color: #ed4b80;
}

/* NEWS AND EVENTS  */
.news__content .new__Item {
  margin-bottom: 50px;
}

.news__content .new__Item img {
  display: block;
  max-width: 100%;
  border: 2px solid #999999;
}

.news__content .new__Item a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
  transition: all .5s;
}

.news__content .new__Item a:hover {
  color: #ed4b80;
}

.news__content .new__Item h5 {
  color: #ed4b80;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px 0;
}

.news__content .new__Item p {
  font-size: 16px;
  line-height: 2;
  color: #999999;
  text-align: justify;
}

.modal-header h5#newsModalLabel {
  font-weight: bold;
  color: #ed4b80;
  font-size: 30px;
}

.modal-body p {
  padding: 30px 0;
  font-size: 14px;
  line-height: 2;
  color: #999999;
}

/* FOOTER  */
footer {
  background-color: #141415;
}

.footer__container h3 {
  margin: 20px 0;
  color: #ed4b80;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer__container p {
  color: #999999;
  line-height: 1.8;
}

.footer__container .col ul {
  list-style: none;
  padding: 0;
}

.footer__container .col li {
  margin: 10px 0;
}

.footer__container .col a {
  text-decoration: none;
  color: #999999;
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer__container .col p {
  margin: 0;
  transition: all .5s;
}

.footer__container .col p:hover {
  color: white;
}

.footer__container .footer__link i {
  color: #ed4b80;
}

.footer__container .footer__contact i {
  color: white;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #999999;
}

.footer__form .text__label {
  color: #ed4b80;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.footer__form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 0;
}

.footer__form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 0;
  background-color: #ed4b80;
  color: white;
  transition: all .5s;
}

.footer__form button:hover {
  background-color: #ec1955;
}


/*###### RESPIONSIVE  #####*/

/* HEADER  */
@media screen and (max-width: 1199.98px) {
  .cyberCarousel #carouselCyber .carousel-caption h5 {
    font-size: 5vw;
  }

  .cyberCarousel #carouselCyber .carousel-caption p {
    font-size: 2.5vw;
    margin-bottom: 0.3em;
  }

  .cyberCarousel #carouselCyber .carousel-caption .btn {
    font-size: 1.8vw;
  }

  .cyberCarousel #carouselCyber .carousel-caption {
    top: 40%;
  }

}

@media screen and (max-width:767.98px) {
  #navbarIntruction {
    background-color: #eeeeee;
  }

  .header__navBar .navbar-brand p:first-child {
    font-size: 24px;
  }

  .cyberCarousel #carouselCyber .carousel-caption {
    top: 35%;
  }

}

@media screen and (max-width:575.98px) {
  .header__left a {
    display: block;
  }
}

@media screen and (max-width: 499.98px) {
  .cyberCarousel .carousel-inner .carousel-item img {
    height: 250px;
  }
}

@media screen and (max-width: 399.98px) {
  .header__right {
    width: 25%;
  }
}

@media screen and (max-width: 319.98px) {}

/* MENU  */
@media screen and (min-width:767.98px) and (max-width: 991.98px) {
  #navbarIntruction a.nav-link {
    font-size: 13px;
    padding: 8px;
  }

  .header__navBar .navbar-brand p:first-child {
    font-size: 30px;
  }
}